# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# SpotBugs
spotbugsXml.xml
spotbugsXml.html

# Checkstyle reports
checkstyle-result.xml

# JUnit temp files
junit*.properties

# IDE auto-saves or temp files
*.swp
*~
